name: Linux

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: flutter --version

      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev

      - name: Clone repository
        uses: actions/checkout@v4

      - run: flutter pub get
      - run: flutter build linux

      - name: Archive result
        uses: actions/upload-artifact@v4
        with:
          name: linux-target
          path: build/linux/x64/release/bundle/
